.overlay{
    /* filter: brightness(50%); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://www.carringmanagement.com.au/media/carousel/bg_1.jpg');
    background-size: cover;
    background-blend-mode: darken;
    height: 368px;
    background-position: 50% 0% ;
}
h2.subheading{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}